body {
    height: 100vh;
    background: linear-gradient(90deg, #000, #000D 35%, #0000),
    url(../img/wallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 80px 128px 5px 128px;
}
