main {
    flex-grow: 1;
    display: flex;
}

.content-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}

.content-container h1 {
    font-size: 7rem;
    font-weight: 400;
    display: flex;
    flex-direction: column;
}

.content-container h1 span {
    font-size: 2rem;
    font-weight: 200;
    transform: translateY(30px);
}

.movie-title {
    font-size: 2.6rem;
    font-style: italic;
    color: #e62721;
    transform: translateY(-20px);
}

.movie-text {
    width: 620px;
    font-size: 1.1rem;
    font-weight: 100;
    margin-bottom: 30px;
}

.movie-button {
    height: 80px;
    width: 300px;
    border-radius: 10px;
    background-color: #e62721;
    font-size: 1.5rem;
    font-weight: 200;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-container {
    width: 48px;
}

.social-container ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    gap: 20px;
}

.social-container li {
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 2px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all 1s; */
}

.social-container i {
    font-size: 1.5rem;
}

.ytb:hover {
    background-color: #e62721;
    border-color: #e62721;
}

.twt:hover {
    background-color: #1d9bf0;
    border-color: #1d9bf0;
}

.insta:hover {
    background: linear-gradient(225deg, #843ebd, #e62721, #eec50b);
    border: transparent;
}

.face:hover {
    background-color: #1771e6;
    border-color: #1771e6;
}